*{
    margin: 0px;
    padding: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div {
    width: calc(25% - 20px); /* Adjust the width based on your requirements */
    background-color: #ffffff;
    margin: 10px;
    
    font-size: 30px;
    
}

.card {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 0; /* Reset margin to 0 for the card */
    padding: 0;
    
}

.card-img-top {
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 24px;
    margin-bottom: 0.75rem;
}

.card-text {
    color: #555;
    font-size: 18px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #0056b3;
}
