.body{
    background-color: black;
}
.con {
    position: relative;
    text-align: center;
    color: white;
    
}


/* Bottom left text */
.bootm {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: yellow;
margin-top: 10px;
width: 100%;
text-align: center;
    
}

.img-top{
    opacity: 0.35;
    height: 800px;
    width: 600px;
}
.row{
    margin: 40px,0px;
}
.form-control {
    opacity: 0.8; /* Adjust the opacity value as needed (0 to 1) */
  }
  